<h3>Listado de Libros</h3>
<div ng-repeat="item in list">
    {{item}}<a href="/#/{{item.id}}">{{item.title}} - aquí va el nombre</a>
</div>

<h3>Alta nuevo libro</h3>
<div>
    <div>
        <label for="title">Titulo</label>
        <input id="title" ng-model="form.title"/>
    </div>
    <div>
        <label for="author">Autor</label>
        <input id="author" ng-model="form.author"/>
    </div>
    <div>
        <label for="publishedDate">Fecha de publicación</label>
        <input id="publishedDate" ng-model="form.publishedDate"/>
    </div>
    <div>
        <label for="description">Genero</label>
        <input id="description" ng-model="form.description"/>
    </div>
    <button ng-click="save()">Save</button>
</div>